In [ ]:
x=[]  #creation of  empty list 
x=list()# empty list
y=[1,2,3] #direct intializaton
z=[]
z.append('apple')  #adding a value

In [ ]:
x=[1,2,3]
y=[4,5,6]
z=x+y       #concatenate list
print(x,y,z)

[1, 2, 3] [4, 5, 6] [1, 2, 3, 4, 5, 6]

In [5]:
#list of duplicate

a=[1]*10
print(a)

b=[1,2]*5
c=a*2
print(b)
print(c)

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
[1, 2, 1, 2, 1, 2, 1, 2, 1, 2]
[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [7]:
#displaying
print(a) #new output
#displaying single item of a time 
for item in a:
    print(item)
    #single element using index
print(a[0])
print(a[3],a[5])

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
1
1
1
1
1
1
1
1
1
1
1
1 1

In [1]:
books=[]
#adding one item at a time
books.append('the way of king')
print(books)
books.append("the final empire ")
books.append("steelheart")
books.append("legion")
print(books)

['the way of king']
['the way of king', 'the final empire ', 'steelheart', 'legion']

In [7]:
books.append("harry poter")
print(books)

['the way of king', 'the final empire ', 'steelheart', 'legion', 'harry poter']

In [13]:
books.append(["harry poter",'jungle book'])
print(books)

['the way of king', 'the final empire ', 'steelheart', 'legion', 'harry poter', ['harry poter', 'jungle book']]

In [11]:
colors=['red','yellow','blue']
print(colors)
colors.extend(['black ','white'])

print(colors)

['red', 'yellow', 'blue']
['red', 'yellow', 'blue', 'black ', 'white']

In [15]:
colors2=['pink','purrple','yellow']
print(colors)
colors.extend([colors2])

print(colors2)

['red', 'yellow', 'blue', 'black ', 'white']
['pink', 'purrple', 'yellow']

In [20]:
a=[]
for i in range(1,11):
    a.append(i)
    print(a)

[1]
[1, 2]
[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [21]:
a=[]
for i in range(1,11):
    a.append(i)
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [25]:
movies=input()

print(movies)

rrr

In [31]:
movies=[]
for i in range(5):
    values=input('enter a five movies')
    movies.append(values)
print(movies)

['rrr', 'rrr', '1', 'oye', 'pk']

In [2]:

x=[1,5,10]
x.insert(2,9)
x.insert(3,4)
print(x)

[1, 5, 9, 4, 10]

In [1]:
x=[1,2,3,5,10]
x.insert(5,9)
print(x)

[1, 2, 3, 5, 10, 9]

PYTHON DATA STRUCTURES


list methods are - 11 methods 


.ADDING ELEMENTS

1.APPEND()->  ADD ONE ELEMENT TO THE END OF THE LIST
2.INSERT()->ADD ONE ELEMENT TO A SPECIFIC POSITION
3.EXTEND()->APPEND MULTIPLE ITEMS IN A LIST


.REMOVEING ELEMENTS

1.	remove()-> remove the first occurrence of a value
2.	pop()->remove and return an element from an index
3.	clear()-> remove all elements from the list

In [4]:
books=['artof laziness','hero of ages ',  'oarthbringer','well of acsension','war breaker','king of throns','the final empire ','the way of kinds', 'wind and truth','new moon']
print('size of book list',len(books))      #len function checks the size of the iterable

size of book list 10

In [ ]:
books.remove('new moon')
print(books)               # remove or delete the data

['artof laziness', 'hero of ages ', 'oarthbringer', 'well of acsension', 'war breaker', 'king of throns', 'the final empire ', 'the way of kinds', 'wind and truth']

In [ ]:
#validation based removal:

if 'oarthbringer' in books:
    books.remove('oarthbringer')
print(books)

['artof laziness', 'hero of ages ', 'well of acsension', 'war breaker', 'king of throns', 'the final empire ', 'the way of kinds', 'wind and truth']

In [8]:
print(books)
print(len(books))

['artof laziness', 'hero of ages ', 'well of acsension', 'war breaker', 'king of throns', 'the final empire ', 'the way of kinds', 'wind and truth']
8

In [ ]:
books.pop(3)        #remove the given index number and pop is also a remove 
print(books)

['artof laziness', 'hero of ages ', 'well of acsension', 'king of throns', 'the final empire ', 'the way of kinds', 'wind and truth']

In [ ]:
books.pop()

'the way of kinds'

In [12]:
books.pop()  #pop without any index number will remove the last element

'the final empire '

In [14]:
books.clear()
print(books)

[]

In [19]:
languages=['c','python','java','html','css','Javascript','c++','mongo','assembly']
numbers=[12,56,22,13,14,80,50,33,44,55,65,75,85,95]
data=[1,'apple',2,'avocado',3,'apricot']
print(languages)
print( 'size of lan',len(languages))
print(numbers)
print( 'size of numbers ',len(numbers))
print(data)
print(len(data))

['c', 'python', 'java', 'html', 'css', 'Javascript', 'c++', 'mongo', 'assembly']
size of lan 9
[12, 56, 22, 13, 14, 80, 50, 33, 44, 55, 65, 75, 85, 95]
size of numbers  14
[1, 'apple', 2, 'avocado', 3, 'apricot']
6

In [23]:
numbers.count(50)

1

In [24]:
print(numbers.count(1))
print(numbers.count(55))
print(numbers.count(13))

0
1
1

In [29]:
languages.index('java')

2

In [30]:
print(languages.index('python'))
print(languages.index('java'))

1
2

In [ ]:
languages=['c','python','java','html','css','Javascript','c++','mongo','assembly']
numbers=[12,56,22,13,14,80,50,33,44,55,65,75,85,95]
data=[1,'apple',2,'avocado',3,'apricot']
print(languages)
print( 'size of lan',len(languages))
print(numbers)
print( 'size of numbers ',len(numbers))
print(data)
print(len(data))

In [3]:
# print("original",data)
# data.reverse()
# print('reversed',data)

In [ ]:
# print("Original", languages)
# languages.sort()
# print("sorted", languages)
# languages.sort(reverse=True)
# print("sorted in reverse", languages)

NameError: name 'languages' is not defined

In [2]:
x=[1,2,3,4,]
y=x
z=x.copy()
print(x,y,z,sep='\n')
x.append(10)
y.pop()
z.append(10)
z.append(20)
print(x,y,z,sep='\n')

[1, 2, 3, 4]
[1, 2, 3, 4]
[1, 2, 3, 4]
[1, 2, 3, 4]
[1, 2, 3, 4]
[1, 2, 3, 4, 10, 20]

# Nested list
list within list

In [1]:
x=[]
x1=[[]]

print(x)
print((x1))

[]
[[]]

In [6]:
items=[
    ['red','green','black'],
    [ 'apple','gauva','black berry'],
    [150,200,300]
]
print(items)
print('size of list',len(items))
print('size of list at index 0 is ',len(items[0]),'=>',items[0])
print('size of list at index 1 is ',len(items[1]),'=>',items[1])
print('size of list at index 2 is ',len(items[2]),'=>',items[2])
print('Element 0 as list 0 is ', items[0][0])
print('element 2 as list 0 is ',items[0][2])
print('element 0 as list 1 is ', items[1][0])
print('element 1 as list 1 is',items[1][1])

[['red', 'green', 'black'], ['apple', 'gauva', 'black berry'], [150, 200, 300]]
size of list 3
size of list at index 0 is  3 => ['red', 'green', 'black']
size of list at index 1 is  3 => ['apple', 'gauva', 'black berry']
size of list at index 2 is  3 => [150, 200, 300]
Element 0 as list 0 is  red
element 2 as list 0 is  black
element 0 as list 1 is  apple
element 1 as list 1 is gauva

In [7]:
items=[
    ['red','green','black'],
    [ 'apple','gauva','black berry'],
    [150,200,300]
]
print(items)

[['red', 'green', 'black'], ['apple', 'gauva', 'black berry'], [150, 200, 300]]

In [11]:
matrix=[
    [12,23,45,25],
    [83,95,25,15],
    [30,32,35,5]
]
print(matrix)

[[12, 23, 45, 25], [83, 95, 25, 15], [30, 32, 35, 5]]

In [13]:
print(matrix[0])
print(matrix[1])
print(matrix[2])

[12, 23, 45, 25]
[83, 95, 25, 15]
[30, 32, 35, 5]

In [14]:
for row in matrix:
    print(row)

[12, 23, 45, 25]
[83, 95, 25, 15]
[30, 32, 35, 5]

In [19]:
#nested loop for nested list
for row in matrix:
    for val in row:
        print(val,end=' ')

12 23 45 25 83 95 25 15 30 32 35 5

In [16]:
#nested loop for nested list
for row in matrix:
    for val in row:
        print(val,end=' ')
        print()

12
23
45
25
83
95
25
15
30
32
35
5

In [17]:
#nested loop for nested list
for row in matrix:
    for val in row:
        print(val,end=' ')
    print()

12 23 45 25
83 95 25 15
30 32 35 5

In [18]:
#nested loop for nested list
for row in matrix:
    for val in row:
        print(val,end=' ')
print()

12 23 45 25 83 95 25 15 30 32 35 5

In [26]:
total =0
for row in matrix:
    for val in row:
        total+=val
print(total)

425

In [27]:

total =1
for row in matrix:
    for val in row:
        total*=val
print(total)

154242427500000000

In [28]:
total =0
for row in matrix:
    for val in row:
        total+=val
    print(total)

105
323
425

wap to print row wise sum of matrix

In [29]:
for row in matrix:
    total=0
    for value in row:
        total+=value
    print(row,'=>',total)

[12, 23, 45, 25] => 105
[83, 95, 25, 15] => 218
[30, 32, 35, 5] => 102

In [ ]:
# WAP to print row wise average of the average of the values

In [ ]:
size=len(matrix[0])
for c in range(size):
    total=0
    for r in range(len(matrix)):
        total+=matrix[r][c]
print(f"coloum{c}=>{total}")

coloum3=>45

In [34]:
size=len(matrix[0])
for c in range(size):
    total=0
    for r in range(len(matrix)):
        total+=matrix[r][c]
    print(f"coloum{c}=>{total}")

coloum0=>125
coloum1=>150
coloum2=>105
coloum3=>45

In [36]:
size=len(matrix[0])
for c in range(size):
    total=0
    for r in range(len(matrix)):
        total+=matrix[r][c]
    print(f"colum {c}=> {total/size}")

colum 0=> 31.25
colum 1=> 37.5
colum 2=> 26.25
colum 3=> 11.25

In [1]:
mat=[
    [1,2,3,4],
    [5,6,7,8],
    [9,10,11,12]
]
for r in range(len(mat)):
    for c in range (len(mat[0])):
        if (c<=r):
            print(mat[r][c],end=' ')
            print()

1
5
6
9
10
11

# slicing

In [3]:
x=[11,12,13,15,19]
x[0:3]
x[2:len(x)]

[13, 15, 19]

In [ ]:
x=['e','d','u','c','a','t','i','o','n']
x[3:6]

['c', 'a', 't']

# slicing 

# syntax

In [8]:
#  var[start: stop : step]
name= ['w','i','l','l','i','a','m', 's','h','a','k','e','s','p','e','a','r','c','e']

name[7:13]

['s', 'h', 'a', 'k', 'e', 's']

In [9]:

name= 'william shakespearce'
name[8:14]

'shakes'

In [9]:
name= 'william shakespearce'
name[14:18]

'pear'

In [10]:
name= 'william shakespearce'
name[8:-3]

'shakespea'

In [12]:
name[8: ]

'shakespearce'

In [11]:
name[ :7]

'william'

In [15]:
name= 'william shakespearce'
fname=name[1:7]
fname=name[8:18]

In [19]:
name=" rupesh yadav  "
name[: : 2]

' uehydv '

In [22]:
name=" roop dinesh yadav"
name[: : 3]

' ode d'

In [23]:
name[1 : : 2]

'ro iehydv'

In [8]:
name=" vijay devarkonda"
fname=name[1:9]
mname=name[3:5]
lname=name[8:15]
name[::4]
print(fname)
print(mname)
print(lname)

vijay de
ja
evarkon

In [10]:
name=" vijay devarkonda"
fname=name[1:9]
mname=name[3:5]
lname=name[8:15]
name[::4]

' aeka'

In [13]:
x=[1,2,3,4,6,7,9,11,13]
for item in x[::-1]:
    print(item)

13
11
9
7
6
4
3
2
1

# reverse a list in place
 # a=[1,2,3]
 # a[:]     # get all element
# a[:]=a[a::1]

In [18]:
a=[1,2,3]
a[:]     # get all element
a[:]=a[::-1]
print(a)

[3, 2, 1]

In [20]:
x=[1,2,3,4,5]
ans=x[2:]+x[:2]
print(x, ans)

[1, 2, 3, 4, 5] [3, 4, 5, 1, 2]

# COMPREHENSION

In [22]:
x=[1,3,4,5]
x2=[]
for i in x:
    s=i*2
    x2.append(s)
print(x,x2)

[1, 3, 4, 5] [2, 6, 8, 10]

In [23]:
x=[1,3,4,5]
x2=[]
for i in x:
    s=i*2
    x2.append(s)
    print(x,x2)

[1, 3, 4, 5] [2]
[1, 3, 4, 5] [2, 6]
[1, 3, 4, 5] [2, 6, 8]
[1, 3, 4, 5] [2, 6, 8, 10]

In [27]:
x=[4,8,12,16]
x3=[]
for i in x:
    x3.append(i//2)
print(x,x3)

[4, 8, 12, 16] [2, 4, 6, 8]

In [28]:
x=[1,2,3]
y=[4,5,6]
xy=[]
for i,j in zip(x,y):
    xy.append(i+j)
    print(x,y,xy,sep="\n")

[1, 2, 3]
[4, 5, 6]
[5]
[1, 2, 3]
[4, 5, 6]
[5, 7]
[1, 2, 3]
[4, 5, 6]
[5, 7, 9]

In [29]:
x=[1,2,3]
y=[4,5,6]
xy=[]
for i,j in zip(x,y):
    xy.append(i+j)
print(x,y,xy,sep="\n")

[1, 2, 3]
[4, 5, 6]
[5, 7, 9]

In [33]:
z=[2,3,4]
zsqr=[]
for i in z:
    zsqr.append(i**2)
print(z,zsqr)

[2, 3, 4] [4, 9, 16]

In [34]:
z=[2,3,4]
zsqr=[]
for i in z:
    zsqr.append(i**3)
print(z,zsqr)

[2, 3, 4] [8, 27, 64]

In [4]:
y=[1,2,3]
y2=[1*2 for i in y]
print(y2)

[2, 2, 2]

In [ ]:
#TUPLE
MY_TUPLE=(2,3,5)      #it is  a mutable 
                      # a tuple in a python is similar to the list
print(MY_TUPLE)

(2, 3, 5)