In [1]:
p=500
r=20
t=10
si=p*r*t/100

print(p)
print(r)
print(t)
print(si)

500
20
10
1000.0

In [ ]:
p=float(input('enter your amount'))
r=20
t=10

PRINT(r)
PRINT(t)
print(p)

FORMATTING THE OUTPUT

In [ ]:
print("this is an example ")
print("one","two","three")

In [ ]:
print('ram','krishna','hari')
print(1,2,3,4)
print('dinesh',"krish",'venky',sep=",")
print('dinesh',"krish",'venky',sep='â¡ï¸ğŸ˜Š')
print('dinesh',"krish",'venky',sep='\n')
print('dinesh',"krish",'venky',sep="helloğŸ™Œ")
print('this is dinesh',"helloğŸ™Œ")

In [2]:
print('ram','krishna','hari')
print(1,2,3,4)
print('dinesh',"krish",'venky',sep=",")
print('dinesh',"krish",'venky',sep='â¡ï¸ğŸ˜Š')
print('dinesh',"krish",'venky',sep='\n')
print('dinesh',"krish",'venky',sep="helloğŸ™Œ")
print('this is dinesh',"helloğŸ™Œ")

ram krishna hari
1 2 3 4
dinesh,krish,venky
dineshâ¡ï¸ğŸ˜Škrishâ¡ï¸ğŸ˜Švenky
dinesh
krish
venky
dineshhelloğŸ™ŒkrishhelloğŸ™Œvenky
this is dinesh helloğŸ™Œ

In [1]:
print(1,2,3,4,5)
print(1,2,3,4,sep="")
print(1,2,3,4,5,6,sep=",")
print(1,2,3,4,5,sep='â¡ï¸')
print(1,2,3,4,5,sep="\n")
print(1,2,3,4,5,sep='hello world')

1 2 3 4 5
1234
1,2,3,4,5,6
1â¡ï¸2â¡ï¸3â¡ï¸4â¡ï¸5
1
2
3
4
5
1hello world2hello world3hello world4hello world5