In [1]:
p=500
r=20
t=10
si=p*r*t/100

print(p)
print(r)
print(t)
print(si)

500
20
10
1000.0

In [ ]:
p=float(input('enter your amount'))
r=20
t=10

PRINT(r)
PRINT(t)
print(p)

FORMATTING THE OUTPUT

In [ ]:
print("this is an example ")
print("one","two","three")

In [ ]:
print('ram','krishna','hari')
print(1,2,3,4)
print('dinesh',"krish",'venky',sep=",")
print('dinesh',"krish",'venky',sep='‚û°Ô∏èüòä')
print('dinesh',"krish",'venky',sep='\n')
print('dinesh',"krish",'venky',sep="helloüôå")
print('this is dinesh',"helloüôå")

In [2]:
print('ram','krishna','hari')
print(1,2,3,4)
print('dinesh',"krish",'venky',sep=",")
print('dinesh',"krish",'venky',sep='‚û°Ô∏èüòä')
print('dinesh',"krish",'venky',sep='\n')
print('dinesh',"krish",'venky',sep="helloüôå")
print('this is dinesh',"helloüôå")

ram krishna hari
1 2 3 4
dinesh,krish,venky
dinesh‚û°Ô∏èüòäkrish‚û°Ô∏èüòävenky
dinesh
krish
venky
dineshhelloüôåkrishhelloüôåvenky
this is dinesh helloüôå

In [1]:
print(1,2,3,4,5)
print(1,2,3,4,sep="")
print(1,2,3,4,5,6,sep=",")
print(1,2,3,4,5,sep='‚û°Ô∏è')
print(1,2,3,4,5,sep="\n")
print(1,2,3,4,5,sep='hello world')

1 2 3 4 5
1234
1,2,3,4,5,6
1‚û°Ô∏è2‚û°Ô∏è3‚û°Ô∏è4‚û°Ô∏è5
1
2
3
4
5
1hello world2hello world3hello world4hello world5

In [1]:
a=100
b=20

c=a+b
print(a)
print(b)
print(c)
print(type(c))
print('answer is',c)
print("answer"+str(c))
print('answer %d'%c)
print(f"{a}+{b}={c}")
print(f"answer is {c}")

100
20
120
<class 'int'>
answer is 120
answer120
answer 120
100+20=120
answer is 120

In [2]:
a = [1, 2]
b = a
c = [1, 2]
print(a is b)      # True
print(a is c)      # False
print(a == c)      # True

True
False
True

In [3]:
nums = [1, 2, 3]
print(2 in nums)      # True
print(4 not in nums)  # True

True
True

In [ ]:
nums = [1, 2, 3]
print(2 in nums)
print(3 in nums)