In [1]:
p=500
r=20
t=10
si=p*r*t/100

print(p)
print(r)
print(t)
print(si)

500
20
10
1000.0

In [ ]:
p=float(input('enter your amount'))
r=20
t=10

PRINT(r)
PRINT(t)
print(p)

FORMATTING THE OUTPUT

In [ ]:
print("this is an example ")
print("one","two","three")

In [ ]:
print('ram','krishna','hari')
print(1,2,3,4)
print('dinesh',"krish",'venky',sep=",")
print('dinesh',"krish",'venky',sep='➡️😊')
print('dinesh',"krish",'venky',sep='\n')
print('dinesh',"krish",'venky',sep="hello🙌")
print('this is dinesh',"hello🙌")

In [2]:
print('ram','krishna','hari')
print(1,2,3,4)
print('dinesh',"krish",'venky',sep=",")
print('dinesh',"krish",'venky',sep='➡️😊')
print('dinesh',"krish",'venky',sep='\n')
print('dinesh',"krish",'venky',sep="hello🙌")
print('this is dinesh',"hello🙌")

ram krishna hari
1 2 3 4
dinesh,krish,venky
dinesh➡️😊krish➡️😊venky
dinesh
krish
venky
dineshhello🙌krishhello🙌venky
this is dinesh hello🙌

In [1]:
print(1,2,3,4,5)
print(1,2,3,4,sep="")
print(1,2,3,4,5,6,sep=",")
print(1,2,3,4,5,sep='➡️')
print(1,2,3,4,5,sep="\n")
print(1,2,3,4,5,sep='hello world')

1 2 3 4 5
1234
1,2,3,4,5,6
1➡️2➡️3➡️4➡️5
1
2
3
4
5
1hello world2hello world3hello world4hello world5

In [1]:
a=100
b=20

c=a+b
print(a)
print(b)
print(c)
print(type(c))
print('answer is',c)
print("answer"+str(c))
print('answer %d'%c)
print(f"{a}+{b}={c}")
print(f"answer is {c}")

100
20
120
<class 'int'>
answer is 120
answer120
answer 120
100+20=120
answer is 120

In [2]:
a = [1, 2]
b = a
c = [1, 2]
print(a is b)      # True
print(a is c)      # False
print(a == c)      # True

True
False
True

In [3]:
nums = [1, 2, 3]
print(2 in nums)      # True
print(4 not in nums)  # True

True
True

In [ ]:
nums = [1, 2, 3]
print(2 in nums)
print(3 in nums)

In [ ]:
CONDITIONAL STATEMENTS:
    
    IN PYTHON THERE ARE 4 TYPES

In [2]:
print('you see a apple seller')
q = input('do you like apples ?')

if q == 'yes':
    print('purchase 2kg of apples')
if q == 'no' :
    print('you dont purchase apples')

you see a apple seller
you dont purchase apples

In [2]:
salary = 52000
if salary > 50000:
    da = .15          # 15% dearness allowance
    total = salary + salary * da
    print(f"total salary is {total}")

total salary is 59800.0

In [6]:
salary = 48000
da=0
if salary > 50000:
    da = .15          # 15% dearness allowance
total = salary + salary * da
print(f"total salary is {total}")

total salary is 48000

In [13]:
salary = 52000
da=0
if salary > 60000:
    da = .15          # 15% dearness allowance
    total = salary + salary * da
else:
    total=salary
    print(f"total salary is {total}")

total salary is 52000

In [17]:
salary = 42000
da=0
if salary < 50000:
    da = .15          # 15% dearness allowance
    total = salary + salary * da
    print(f"total salary is {total}")
else:
   total=salary
   print(f"total salary is {total}")

total salary is 48300.0

In [18]:
salary = 52000
da=0
if salary > 60000:
    da = .15          # 15% dearness allowance
    total = salary + salary * da
    print(f"total salary is {total}")
else:
    total=salary
    print(f"total salary is {total}")

total salary is 52000

In [ ]:
'''x=int(input('enter a number'))
y=int(input('enter a fees'))'''

x=int(input(200))
y=int(input(100))
if x>y:
     a=x-y
     print(a)
else:
        a=y-x
        print(a)

100

In [24]:
x=int(input('enter a number'))
y=int(input('enter a fees'))


if x>y:
     a=x-y
     print(a)
else:
        a=y-x
        print(a)

50

In [32]:
name=input('enter your fav movie ')
if len(name)>10:
    print(f"long movie name: {name}")
else:
    print(f"short movie name: {name}")
print("the end")

short movie name: peddi
the end

In [1]:
name=input('enter your fav movie ')
if len(name)>10:
    print(f"long movie name: {name}")
else:
    print(f"short movie name: {name}")
print("the end")

long movie name: the paradise
the end

HANDLIG MULTIPLE CONDITIONS USEING if-elif

In [3]:
print('what is the capital of india?')
answer=input('answer:')
if answer=='delhi':
    print( 'your are correct')
if answer=='new delhi':
    print("your are a correct")
if answer=='i dont know':
    print('u must be sleeping')

what is the capital of india?
your are correct

In [8]:
marks=int(input('enter your total marks in 10th :'))
if marks>90:
    print('your grade :A')
elif marks >75: 
    print('your grade:B')
elif marks>60:
    print('your grade :c')
elif marks ==35:
    print('your grade :d')
else:
    print('your a fail😒')

your grade :A

NESTED IF

In [ ]:
marks=int(input('enter your total marks in 10th :'))
if marks>90:
    print('your grade :A')
if marks >75: 
    print('your grade:B')                                        
if marks>60:
    print('your grade :c')
if marks ==35:
    print('your grade :d')
else:
    print('your a fail😒')

your grade :A
your grade:B
your grade :c
your a fail😒

In [9]:
marks=int(input('enter your total marks in 10th:'))
if marks>90 and marks <=100:
    print('your grade :A')
elif marks>75 and marks<=90:
    print('your grade :b')
elif marks >60 and marks<=75:
    print('your grade:c')
elif marks>40 and marks<=60:
    print('your grade :d')
else:
    print( ' your a failed☠️😊')

your grade :b

In [12]:
marks=int(input('enter your total marks in 10th:'))
if marks>90 and marks <=100:
    print('your grade :A')
if marks>75 and marks<=90:
    print('your grade :b')
if marks >60 and marks<=75:
    print('your grade:c')
if marks>40 and marks<=60:
    print('your grade :d')

your grade :b

In [13]:
salary=int(input('enter your frnd salary:'))
if salary>10000:
    total=salary-salary*.2
elif salary>80000:
    total=salary-salary*.1
elif salary>70000:
    total=salary-salary*.05
else:
    total=salary+10000
    
print(f"frnd salary =>{salary}")
print(f"frnd salary total=>{total}")

frnd salary =>80000
frnd salary total=>64000.0

MATH CASE

In [2]:
day=input('what is the day today?')
match day:
    case "monday":print('today is a monday!boring')
    case "tuesday":print('today is a tuesday')
    case "sunday":print('today is a holiday')
    case 'saturday':print('today is a devotinal day' )
    case default :print( 'it is a option➡️')

it is a option➡️

In [3]:
day=input('what is the day today?')
match day:
    case "monday":print('today is a monday!boring')
    case "tuesday":print('today is a tuesday')
    case "sunday":print('today is a holiday')
    case 'saturday':print('today is a devotinal day' )

today is a devotinal day

In [9]:
print('tell me some movies ')
gener=input('what gener do you like?')
match gener:
    case 'action':
        print('bhahubali,war')
    case 'comeercial':
        print('nayaak,racha,game changer,pushpa')
    case 'comedy':
        print('malleswari,bruceelee')
    case 'thriller':
        print('Dna,raksahsudu')
    case 'historical':
        print('magadheera,bhahubali2,rangastalam,chaava')
    case default:
        print('you can watch your wish movies ')

tell me some movies
bhahubali,war



Nested if statement: 
-->if with in the if.

syntax:

if (<condition1>):
 statement(s)
 if (<condition2>):
  statement(s)
else:

In [10]:


a = 20
b = 30
if a > b:
 print("a is greater than b")
 if b > a:
  print("b is greater than a")
else:
 print("blog post not found")

blog post not found

In [11]:
a = 40
b = 30
if a > b:
 print("a is greater than b")
 if b < a:
  print("b is greater than a")
else:
 print("blog post not found")

a is greater than b
b is greater than a

In [16]:
a = 40
b = 30
if a > b:
 print("a is greater than b")
 if b < a:
  print("b is less than a")
 if b>a:
      print('b is a grater than a')
else:
 print("blog post not found")

a is greater than b
b is less than a

In [15]:
a = 40
b = 30
if a > b:
 print("a is greater than b")
 
 if b>a:
      print('b is a grater than a')
else:
 print("blog post not found")

a is greater than b

In [20]:
ans= input('you see a bear ,would you like to fight it y/n?')

if ans=='y':
    print('you are a brave ')
    if ans=='n':
        print('you escape from here')
else:
    print('the bear can kill you')

the bear can kill you

In [21]:
ans= input('you see a bear ,would you like to fight it y/n?')

if ans=='y':
    print('you are a brave ')
    if ans=='n':
        print('you escape from here')
        if ans=='n':
            print('you can go fast from here')
        else:
            print('the bear & lion catch and kill u')
    else:
        print('you died here')
else:
    print('the bear destroyed you')

the bear destroyed you

In [22]:
a,b,c=10,3,25
if a>b:
    if a>c:
        total=a+b+c
        if total>100:
            print('the total is big value ={total}')
        else:
            print(f'the total is small value {total}')
            
    else:
            total=c+b
            print(f'the total is {total} ')
            
else:
    print('the total was not calculate')

the total is 28