In [3]:
for  i in range (20):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [1]:
for __ in range(5):
    print(1)

1
1
1
1
1

In [4]:
for __ in range(5):
    print('this is a statement')

this is a statement
this is a statement
this is a statement
this is a statement
this is a statement

In [7]:
x='this is the statement'
for i in x:
    print(i)
    
#for i in x:
    #print(x)

t
h
i
s

i
s

t
h
e

s
t
a
t
e
m
e
n
t

In [9]:
for x in range(1,16):
    print(x)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

In [10]:
a=5
b=10
for i in range(a,b):
    print(i)

5
6
7
8
9

In [11]:
x=int(input('enter a start'))
y=int(input('enter a stop'))

for l in range(x,y):
    print(x,y,l)

50 70 50
50 70 51
50 70 52
50 70 53
50 70 54
50 70 55
50 70 56
50 70 57
50 70 58
50 70 59
50 70 60
50 70 61
50 70 62
50 70 63
50 70 64
50 70 65
50 70 66
50 70 67
50 70 68
50 70 69

In [12]:
size=10
for l in range(1,size+1):
    print(f"12*{1}={12*1}")

12*1=12
12*1=12
12*1=12
12*1=12
12*1=12
12*1=12
12*1=12
12*1=12
12*1=12
12*1=12

AGGREGATION

In [ ]:
'''x=20
while x>10:
    print(x)'''

In [4]:
total=0
for num in range(10,20):
    total=total+num
print(total)

145

In [3]:
total=10
for num in range(10,20):
    total=total+num
print(total)

155

In [2]:
total=1
for num in range(10,20):
    total+=num
    print(total)

11
22
34
47
61
76
92
109
127
146

In [5]:
total=2
for num in range(10,20):
    total=total*num
print(total)

670442572800

In [7]:
total=1
for num in range(10,20):
    total=total*num
    print(total)

10
110
1320
17160
240240
3603600
57657600
980179200
17643225600
335221286400

In [8]:
total=1
for num in range(10,20):
    total=total*num
print(total)

335221286400

In [13]:
nums=[5,11,2,53,10,33]
m=0
for num in nums:
    if num>m:
        m=num
print(m)

53

In [ ]:
nums=[5,10,8,15,9,15]
print(len(nums))

6

In [31]:

nums=[25,26,27,28,29,30,32,33,34,35,36,37,38,39,40]
count=0
for i in nums:
    if i%3==0:
        count=count+1
        print( f'totalcount is :{count}')

totalcount is :1
totalcount is :2
totalcount is :3
totalcount is :4
totalcount is :5

In [26]:

nums=[25,26,27,28,29,30,32,33,34,35,36,37,38,39,40]
count=0
for i in nums:
    if i%3==0:
        count=count+i
        print(count)

27
57
90
126
165

In [32]:

nums=[25,26,27,28,29,30,32,33,34,35,36,37,38,39,40]
count=0
for i in nums:
    if i%2==0:
        count=count+1
        print(count)

1
2
3
4
5
6
7
8

In [28]:

nums=[25,26,27,28,29,30,32,33,34,35,36,37,38,39,40]
count=0
for i in nums:
    if i%3==0:
        count=count+1
        print(count)

1
2
3
4
5

In [33]:
movies=['rrr','orange','jalsa','og','peddi','julay','bunny','sye','salaar','svsc']
print(len(movies))

10

In [2]:
n=6
for i in range(1,n):
    for j in range(1,n):
        print(1,end=' ')
    print()

1 1 1 1 1
1 1 1 1 1
1 1 1 1 1
1 1 1 1 1
1 1 1 1 1

In [3]:
num=10
fact=1
#we can use backward or forward loop
for i in range(num,0,-1):
    print(f'(i)*{fact}')
    fact=fact*i
print(fact)

(i)*1
(i)*10
(i)*90
(i)*720
(i)*5040
(i)*30240
(i)*151200
(i)*604800
(i)*1814400
(i)*3628800
3628800

In [4]:

num=10
fact=1
#we can use backward or forward loop
for i in range(num,0,-1):
    print(f'{i}*{fact}')
    fact=fact * i
print(fact)

10*1
9*10
8*90
7*720
6*5040
5*30240
4*151200
3*604800
2*1814400
1*3628800
3628800

In [5]:
#skip every value divisible by 3

for i in range(1,25):
    if i%3==0:
        continue
    print(i,end=',')

1,2,4,5,7,8,10,11,13,14,16,17,19,20,22,23,

In [6]:
for i in range(1,25):
    if i%3==0:
     print(i,end=',')

3,6,9,12,15,18,21,24,

In [7]:
for i in range(1,25):
    if i%3==0:
        continue
    print(i,end=' ')

1 2 4 5 7 8 10 11 13 14 16 17 19 20 22 23

In [8]:
data=[1,2,0,3,3,0,1,2,0,5,6,7,2,0,2,1]
for i in data:
    if i==0:
        continue
    print(i,end="  ")

1  2  3  3  1  2  5  6  7  2  2  1

In [9]:
data=[1,2,0,3,3,0,1,2,0,5,6,7,2,0,2,1]
for i in data:
    if i==0:
        break
    print(i,end="  ")

1  2

In [10]:
data=[1,2,0,3,3,0,1,2,0,5,6,7,2,0,2,1]
for i in data:
    if i==7:
       break
    print(i,end="  ")

1  2  0  3  3  0  1  2  0  5  6

In [12]:
#ADD ALL VALUES ENTERED BY USER TILL HE TYPES 0

total=0
print('enter 0 to stop the loop')
for i in range(100):
    value=int(input('enter a value'))
    if value==0:
        break
    total+=value
print(f'total={total}')

enter 0 to stop the loop
total=140