In [1]:
name = input("Enter your name: ")
print("Hello,", name)
city = input("Enter your city: ")
print("You are from", city)
age = int(input("Enter your age: "))
print("You are", age, "years old.")
rate = float(input("Enter your rate: "))
print("Your rate is", rate)

Hello, dinesh
You are from nellore
You are 20 years old.
Your rate is 5.0

In [2]:
print("Welcome to Python!")
print("Sum:", 5 + 3)
print("Hello", "World", "!")
name = "Alice"
print("Name:", name)
name, age, city = "Alice", 22, "New York"
print("Name:", name, "Age:", age, "City:", city)

Welcome to Python!
Sum: 8
Hello World !
Name: Alice
Name: Alice Age: 22 City: New York

In [3]:


print("welcome to python class")

x=str(input('enter your name:'))
print('name is', x)
city=input('enter your city:')
print('city is', city )
age=int(input('enter your age:'))
print('age is', age)                                
rate=float(input('enter your rate:'))
print('rate is', rate)      

print(f" name is {x},city is {city},age is {age},rate is {rate}")

print("name is",'dinesh',"city is","nellore","age is",20,"rate is",5.50)

welcome to python class
name is ram
city is kota
age is 20
rate is 5.0
 name is ram,city is kota,age is 20,rate is 5.0
name is dinesh city is nellore age is 20 rate is 5.5

In [5]:
x='dinesh'
city='nellore'
age=20
rate=5.50


print(f" name is {x},city is {city},age is {age},rate is {rate}")

print("name is",'dinesh',"city is","nellore","age is",20,"rate is",5.50)
print(f"{x},{city},{age},{rate}")

 name is dinesh,city is nellore,age is 20,rate is 5.5
name is dinesh city is nellore age is 20 rate is 5.5
dinesh,nellore,20,5.5

In [6]:
print("A", "B", sep="-")  # Output: A-B
print("Hello", end="!")   # Output: Hello!

A-B
Hello!

In [7]:
name = "Alice"
age = 22
print(f"{name} is {age} years old.")

Alice is 22 years old.

The 10 Data Types
int (Integer)
Whole numbers, e.g., 5, -10, 0
Example:

In [8]:
x = 10
print(type(x))  # <class 'int'>

<class 'int'>

float (Floating Point)
Numbers with decimals, e.g., 3.14, -0.5

In [9]:
y = 3.5
print(type(y))  # <class 'float'>

<class 'float'>

In [10]:
from collections import OrderedDict
od = OrderedDict()
od["apple"] = 1
od["banana"] = 2
print(type(od))  # <class 'collections.OrderedDict'>

<class 'collections.OrderedDict'>

 Operator Types in Python

Arithmetic Operators
Used for mathematical operations.
+ (Addition), - (Subtraction), * (Multiplication), / (Division), // (Floor Division), % (Modulus), ** (Exponentiation)

In [11]:
a = 10
b = 3
print(a + b)  # 13
print(a / b)  # 3.333...
print(a // b) # 3
print(a ** b) # 1000

13
3.3333333333333335
3
1000

In [13]:
a = 5  # 0101
b = 3  # 0011
print(a & b)  # 1
print(a | b)  # 7
print(a ^ b)  # 6
print(~a)     # -6
print(a << 1) # 10
print(a >> 1) # 2

1
7
6
-6
10
2