In [1]:
name = input("Enter your name: ")
print("Hello,", name)
city = input("Enter your city: ")
print("You are from", city)
age = int(input("Enter your age: "))
print("You are", age, "years old.")
rate = float(input("Enter your rate: "))
print("Your rate is", rate)

Hello, dinesh
You are from nellore
You are 20 years old.
Your rate is 5.0

In [2]:
print("Welcome to Python!")
print("Sum:", 5 + 3)
print("Hello", "World", "!")
name = "Alice"
print("Name:", name)
name, age, city = "Alice", 22, "New York"
print("Name:", name, "Age:", age, "City:", city)

Welcome to Python!
Sum: 8
Hello World !
Name: Alice
Name: Alice Age: 22 City: New York

In [3]:


print("welcome to python class")

x=str(input('enter your name:'))
print('name is', x)
city=input('enter your city:')
print('city is', city )
age=int(input('enter your age:'))
print('age is', age)                                
rate=float(input('enter your rate:'))
print('rate is', rate)      

print(f" name is {x},city is {city},age is {age},rate is {rate}")

print("name is",'dinesh',"city is","nellore","age is",20,"rate is",5.50)

welcome to python class
name is ram
city is kota
age is 20
rate is 5.0
 name is ram,city is kota,age is 20,rate is 5.0
name is dinesh city is nellore age is 20 rate is 5.5

In [5]:
x='dinesh'
city='nellore'
age=20
rate=5.50


print(f" name is {x},city is {city},age is {age},rate is {rate}")

print("name is",'dinesh',"city is","nellore","age is",20,"rate is",5.50)
print(f"{x},{city},{age},{rate}")

 name is dinesh,city is nellore,age is 20,rate is 5.5
name is dinesh city is nellore age is 20 rate is 5.5
dinesh,nellore,20,5.5

In [6]:
print("A", "B", sep="-")  # Output: A-B
print("Hello", end="!")   # Output: Hello!

A-B
Hello!

In [7]:
name = "Alice"
age = 22
print(f"{name} is {age} years old.")

Alice is 22 years old.

The 10 Data Types
int (Integer)
Whole numbers, e.g., 5, -10, 0
Example:

In [8]:
x = 10
print(type(x))  # <class 'int'>

<class 'int'>

float (Floating Point)
Numbers with decimals, e.g., 3.14, -0.5

In [9]:
y = 3.5
print(type(y))  # <class 'float'>

<class 'float'>

In [10]:
from collections import OrderedDict
od = OrderedDict()
od["apple"] = 1
od["banana"] = 2
print(type(od))  # <class 'collections.OrderedDict'>

<class 'collections.OrderedDict'>

 Operator Types in Python

Arithmetic Operators
Used for mathematical operations.
+ (Addition), - (Subtraction), * (Multiplication), / (Division), // (Floor Division), % (Modulus), ** (Exponentiation)

In [11]:
a = 10
b = 3
print(a + b)  # 13
print(a / b)  # 3.333...
print(a // b) # 3
print(a ** b) # 1000

13
3.3333333333333335
3
1000

In [13]:
a = 5  # 0101
b = 3  # 0011
print(a & b)  # 1
print(a | b)  # 7
print(a ^ b)  # 6
print(~a)     # -6
print(a << 1) # 10
print(a >> 1) # 2

1
7
6
-6
10
2

In [2]:
movies=['peddi1','peddi2','og1','og2','orange','yavadu','dhruva','hyper','oye']

movies_with_p=0
for movie in movies:
    if movie.startswith('p')or movie.startswith('P'):
        movies_with_p+=1
        print('count',movies_with_p)

count 1
count 2

In [3]:
movies=['peddi1','peddi2','og1','og2','orange','yavadu','dhruva','hyper','oye']

movies_with_o=0
for movie in movies:
    if movie.startswith('o')or movie.startswith('O'):
        movies_with_o+=1
        print('count',movies_with_o)

count 1
count 2
count 3
count 4

In [4]:
num=10
fact=1
#we can use backward or forward loop
for i in range(num,0,-1):
    print(f'(i)*{fact}')
    fact=fact*i
    print(fact)

(i)*1
10
(i)*10
90
(i)*90
720
(i)*720
5040
(i)*5040
30240
(i)*30240
151200
(i)*151200
604800
(i)*604800
1814400
(i)*1814400
3628800
(i)*3628800
3628800

In [5]:
num=10
fact=1
#we can use backward or forward loop
for i in range(num,0,-1):
    print(f'(i)*{fact}')
    fact=fact*i
print(fact)

(i)*1
(i)*10
(i)*90
(i)*720
(i)*5040
(i)*30240
(i)*151200
(i)*604800
(i)*1814400
(i)*3628800
3628800

In [7]:

num=10
fact=1
#we can use backward or forward loop
for i in range(num,0,-1):
    print(f'{i}*{fact}')
    fact=fact * i
print(fact)

10*1
9*10
8*90
7*720
6*5040
5*30240
4*151200
3*604800
2*1814400
1*3628800
3628800

NESTED LOOP

FOR LOOP:
    FOR LOOP:
        FOR LOOP:

In [ ]:
#LOOP TOTAL 10*5 =>50 times
  
for i in range(1,11):
    for j in range(1,6):
        print(f'i={i},j={j}')

i=1,j=1
i=1,j=2
i=1,j=3
i=1,j=4
i=1,j=5
i=2,j=1
i=2,j=2
i=2,j=3
i=2,j=4
i=2,j=5
i=3,j=1
i=3,j=2
i=3,j=3
i=3,j=4
i=3,j=5
i=4,j=1
i=4,j=2
i=4,j=3
i=4,j=4
i=4,j=5
i=5,j=1
i=5,j=2
i=5,j=3
i=5,j=4
i=5,j=5
i=6,j=1
i=6,j=2
i=6,j=3
i=6,j=4
i=6,j=5
i=7,j=1
i=7,j=2
i=7,j=3
i=7,j=4
i=7,j=5
i=8,j=1
i=8,j=2
i=8,j=3
i=8,j=4
i=8,j=5
i=9,j=1
i=9,j=2
i=9,j=3
i=9,j=4
i=9,j=5
i=10,j=1
i=10,j=2
i=10,j=3
i=10,j=4
i=10,j=5

In [12]:
n=6
for i in range(1,n):
    for j in range(1,n):
        print(1,end=' ')
        print()

1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1

In [13]:
n=6
for i in range(1,n):
    for j in range(1,n):
        print(1,end=' ')
    print()

1 1 1 1 1
1 1 1 1 1
1 1 1 1 1
1 1 1 1 1
1 1 1 1 1

In [ ]:
movies=['rrr','orange','oye','kushi','badhri','mirai', 'premalu','court', 'hit','paradise','peddi','chirutha','jalsa','salaar','liger','kingdom']
print(len(movies))
movielen=[]

for movie in movies:
    size=len(movie)
    movielen.append(size)

print(movies)
print(movielen)

16
['rrr', 'orange', 'oye', 'kushi', 'badhri', 'mirai', 'premalu', 'court', 'hit', 'paradise', 'peddi', 'chirutha', 'jalsa', 'salaar', 'liger', 'kingdom']
[3, 6, 3, 5, 6, 5, 7, 5, 3, 8, 5, 8, 5, 6, 5, 7]

In [ ]:
movies=[
     'rrr','orange','oye','kushi','badhri','mirai', 'premalu','court', 'hit','paradise','peddi','chirutha','jalsa','salaar','liger','kingdom'
    ]

In [13]:
movie_caps=[]
for movie in movies:
    name=movie.upper()
    movie_caps.append(name)
print(movies)
print(movie_caps)

['rrr', 'orange', 'oye', 'kushi', 'badhri', 'mirai', 'premalu', 'court', 'hit', 'paradise', 'peddi', 'chirutha', 'jalsa', 'salaar', 'liger', 'kingdom']
['RRR', 'ORANGE', 'OYE', 'KUSHI', 'BADHRI', 'MIRAI', 'PREMALU', 'COURT', 'HIT', 'PARADISE', 'PEDDI', 'CHIRUTHA', 'JALSA', 'SALAAR', 'LIGER', 'KINGDOM']

In [14]:
movie_caps=[movie.upper() for movie in movies]
print(movies)
print(movie_caps)

['rrr', 'orange', 'oye', 'kushi', 'badhri', 'mirai', 'premalu', 'court', 'hit', 'paradise', 'peddi', 'chirutha', 'jalsa', 'salaar', 'liger', 'kingdom']
['RRR', 'ORANGE', 'OYE', 'KUSHI', 'BADHRI', 'MIRAI', 'PREMALU', 'COURT', 'HIT', 'PARADISE', 'PEDDI', 'CHIRUTHA', 'JALSA', 'SALAAR', 'LIGER', 'KINGDOM']

In [12]:
movies_with_o=[]
for item in movies:
    if 'O'in  item or 'o'in item:
        movies_with_o.append(item)
print(movies )
print(movies_with_o )

['rrr', 'orange', 'oye', 'kushi', 'badhri', 'mirai', 'premalu', 'court', 'hit', 'paradise', 'peddi', 'chirutha', 'jalsa', 'salaar', 'liger', 'kingdom']
['orange', 'oye', 'court', 'kingdom']

In [ ]:
movies_with_o=[ movies_with_o for item in movies]
print(movies)
print(movies_with_o)

['rrr', 'orange', 'oye', 'kushi', 'badhri', 'mirai', 'premalu', 'court', 'hit', 'paradise', 'peddi', 'chirutha', 'jalsa', 'salaar', 'liger', 'kingdom']
[['orange', 'oye', 'court', 'kingdom'], ['orange', 'oye', 'court', 'kingdom'], ['orange', 'oye', 'court', 'kingdom'], ['orange', 'oye', 'court', 'kingdom'], ['orange', 'oye', 'court', 'kingdom'], ['orange', 'oye', 'court', 'kingdom'], ['orange', 'oye', 'court', 'kingdom'], ['orange', 'oye', 'court', 'kingdom'], ['orange', 'oye', 'court', 'kingdom'], ['orange', 'oye', 'court', 'kingdom'], ['orange', 'oye', 'court', 'kingdom'], ['orange', 'oye', 'court', 'kingdom'], ['orange', 'oye', 'court', 'kingdom'], ['orange', 'oye', 'court', 'kingdom'], ['orange', 'oye', 'court', 'kingdom'], ['orange', 'oye', 'court', 'kingdom']]

In [17]:
movies_with_k=[movie for item in movies  if 'k' in item or 'K' in item]
print(movies)
print(movies_with_k)

['rrr', 'orange', 'oye', 'kushi', 'badhri', 'mirai', 'premalu', 'court', 'hit', 'paradise', 'peddi', 'chirutha', 'jalsa', 'salaar', 'liger', 'kingdom']
['kingdom', 'kingdom']